---
import { faUniversity } from "@fortawesome/free-solid-svg-icons"
import Icon from "../Icon.astro"
import College from "./education/College.astro"
---

<div id="education">
  <h2>
    <Icon icon={faUniversity} /> Education
  </h2>
  <dl>
    <College />
  </dl>
</div>
