---
import { faCode } from "@fortawesome/free-solid-svg-icons"
import Icon from "../Icon.astro"
import Clouds from "./technology/Clouds.astro"
import Databases from "./technology/Databases.astro"
import Frameworks from "./technology/Frameworks.astro"
import OperatingSystems from "./technology/OperatingSystems.astro"
import ProgrammingLanguages from "./technology/ProgrammingLanguages.astro"
---

<div id="technology">
  <h2>
    <Icon icon={faCode} /> Technologies
  </h2>
  <ProgrammingLanguages />
  <Clouds />
  <Databases />
  <Frameworks />
  <OperatingSystems />
</div>
