---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404: Not found">
  <h1>404, Not Found</h1>
  <p>You just hit a route that doesn't exist...</p>
  <p>
    <a href="/">Return to Homepage</a>
  </p>
</Layout>
