---
import { faGithub } from "@fortawesome/free-brands-svg-icons"
import Icon from "../components/Icon.astro"
import ExternalLink from "../components/ExternalLink.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home" keywords={["robertsmieja", "robert", "smieja"]}>
  <div class="container">
    <h1>Robert Smieja</h1>
    <h4>Polyglot Full-stack Software/DevOps Engineer</h4>

    <p>
      Most experience with Java and other JVM-based languages (Kotlin, Groovy,
      Scala, etc.).
    </p>
    <p>Recently I have begun exploring the JavaScript/Node.js ecosystem.</p>
    <p>
      For example,{" "}
      <ExternalLink
        href="https://github.com/robertsmieja/robertsmieja.com"
        ariaLabel="GitHub repository for this site (opens in a new tab)"
      >
        <Icon icon={faGithub} /> this site
      </ExternalLink>{" "}
      is written using Astro, TypeScript, and running on{" "}
      <ExternalLink
        href="https://aws.amazon.com/cloudfront/"
        ariaLabel="AWS CloudFront (opens in a new tab)"
      >
        AWS CloudFront
      </ExternalLink>{" "}
      and{" "}
      <ExternalLink
        href="https://aws.amazon.com/s3/"
        ariaLabel="AWS S3 (opens in a new tab)"
      >
        AWS S3
      </ExternalLink>
    </p>
    <p>
      I'm interested in being a lifelong learner, and in applying technology to
      solve problems:
    </p>
    <ul>
      <li>
        What does this new programming languages/framework offer?
        <ul>
          <li>How can it help us solve new problems?</li>
          <li>How can it help us solve old problems in new ways?</li>
        </ul>
      </li>
      <li>How can automation help developers focus on the problem at hand?</li>
      <li>
        How can I leverage my own technical abilities to help other developers
        be more productive?
      </li>
    </ul>
    <p>
      This site is under construction, I recommend checking out my{" "}
      <a href="/resume/">r&eacute;sum&eacute;</a> for now.
    </p>
  </div>
</Layout>

<style>
  .container :global(li),
  .container :global(p) {
    text-align: left;
  }
</style>
