---

---

<dl>
  <dt>Databases</dt>
  <dd>
    <ul class="tech-list">
      <li>Amazon DynamoDB</li>
      <li>DB2 (LUW)</li>
      <li>PostgreSQL</li>
      <li>Snowflake</li>
    </ul>
  </dd>
</dl>

<style>
  .tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem 1.25rem;
    padding-left: 0;
    list-style: none;
    margin: 0.25rem 0 0.5rem 0;
  }

  @media print {
    .tech-list {
      display: block;
      padding-left: 0;
      margin: 0;
      list-style: none;
    }

    .tech-list li {
      display: inline;
      margin: 0;
    }

    .tech-list li:not(:last-child)::after {
      display: inline;
      clear: none;
      content: " \2022 ";
      margin: 0 0.5ch;
      color: #666;
    }
  }
</style>
